@model IEnumerable<GCP_CF.Models.ActividadesFases>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadosActividad.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FasesContrato.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contratos_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasHabiles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadosActividad.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FasesContrato.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contratos_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasHabiles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Actividad_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Actividad_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Actividad_Id })
        </td>
    </tr>
}

</table>
